h1 {
  text-align: center;
  font-family: cursive;
  color: #b93eb9;
  line-height: 50px;
}
h2 {
  color: #ee0769;
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  font-family: cursive;
  padding-bottom: 10px;
  margin-bottom: 0;
}
h3 {
  color: #ee0769;
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  font-family: cursive;
  padding-bottom: 10px;
  margin-top: 0;
}
h4 {
  color: #ee0769;
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
  font-family: cursive;
  padding-bottom: 10px;
}

.info {
  color: #002045;
  font-size: 13px;
  list-style: none;
  text-align: left;
  padding-top: 15px;
  line-height: 23px;
}
ul {
  padding: 15px 10px;
}

.number {
  color: #002045;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.degree {
  vertical-align: top;
  font-weight: bold;
  line-height: 2;
  font-size: 20px;

  
}
.celsius {
  text-decoration: none;
   cursor: default;
}

.condition {
  color: #002045;
  font-size: 13px;
}
.card-body {
  color: #01204f;
  font-size: 13px;
  text-align: center;
  display: block;
  margin: 0;
}
.card {
  background: #f5edbe;
}

.col-2{
display: block;
margin: auto;}
.col-4 {
  display: block;
  margin: 0;
  text-align: center;
}
.°F {
  text-decoration: none;
   cursor: default;
}
.°F:hover {
  color: red;
}
 
.weather-app {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  max-width: 700px;
  margin: 20px auto;
}
.search-form {
  margin-bottom: 20px;
}
.btn-secondary:hover {
  color: white;
  background-color: black;
  border-color: black;
}
.code {
  text-align: center;
  font-family: monospace;
  text-decoration: none;
}
.link {
  text-decoration: none;
  text-align: center;
}
.link:hover {
  color: purple;
}
.for {
  font-size: small;
  color: purple;
  text-align: center;
}
.open {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0;
}
.open:hover {
  color: red;
}
#weather-icon {
  width: 100px;
  height: 100px;
}
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
